{% extends "base.html" %}

{% block main %}
	{% for r in report %}
		<div class="report">
			{% if isinstance(r, dict) %}
				{{ r['timestamp'] }}, {{ r['character_name'] }}, FC: {{ r['fc'] }}
				<br>
				{% if r['total_diff'] is None %}
					{% set color = "red" %}
				{% elif r['total_diff'] == 0 %}
					{% set color = "green" %}
				{% else %}
					{% set color = "yellow" %}
				{% end %}
				<span class="{{ color }}">{{ r['ship_name'] }}</span>
				<a href="http://www.whelp.gg/kill/{{ r['kill_id'] }}">http://www.whelp.gg/kill/{{ r['kill_id'] }}</a>
				{% for d in r['diff'] %}
					<div class="diff">{{ d[0] }} {{ d[1] }}</div>
				{% end %}
				<div>
					{% if r['total_diff'] is not None %}
						total diff: {{ r['total_diff'] }}
					{% else %}
						(not doctrine)
					{% end %}
				</div>
			{% else %}
				{{ r }}
			{% end %}
		</div>
	{% end %}
{% end %}
